.testimonial-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-container{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
    gap: 3rem;
}
.testimonial-heading{
    width: 50%;
    text-align: right;
}
.testimonial-heading h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 6rem;
    color: #444444;

    line-height: 57px;
}

.testimonials-hr{
    height: 8vh;
    border: 2px solid  #F48850;
    
}
.testimonial-title{
    width: 50%;
    display: flex;
    padding:  0rem 35rem 0rem 0rem;
    align-items: center;
    justify-content: center;
    
}
.testimonial-title p{
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 3.2rem;
line-height: 36px;
text-align: left;
}
.testimonial-title span{
    color: #E46D2F;
}

.testimonial-card-block-main-box{
    display: flex;
    gap: 5rem;
    padding: 10rem;
}

.testimonial-card-block{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}